.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2.5s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.7em;
}

.App-intro {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 10% 25% 30% 25% 10%;
  grid-template-rows: auto auto auto;
  align-self: center;
}

.item1 {
  grid-column-start: 3;
  justify-self: stretch;
}

.item2 {
  grid-row-start: 3;
  grid-column-start: 2;
}

.item3 {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.menu {
  margin: 5px;
}

li {
  margin: 3px;
  text-align: left;
}

pre {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.contacts {
  width: 300px;
  margin: 0 auto;
}

.search-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.contacts-list {
  padding: 0;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotted grey;
}

.contact-image {
    border-radius: 50%;
    margin: 5px;
}

.contact-name {
  font-size: 20px;
  font-weight: bold;
}

.contact-number {
  font-size: 18px;
  color: grey;
}
